<div>
  <div class="row">
    <div class="padding" *ngFor="let job of jobs">
      <mat-card class="example-card">
        <mat-card-header>
          <img mat-card-avatar src="{{ job.image }}" />
          <mat-card-title class="company-name">{{
            job.company_name
          }}</mat-card-title>
          <mat-card-subtitle class="company-role">{{ job.role }}</mat-card-subtitle>
          <mat-card-subtitle class="company-duration">{{ job.duration }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p *ngFor="let dec of job.description" class="company-dec">{{ dec}}</p>
          <p class="company-tools">Tools:- {{ job.tools_used }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="close">
    <button class="primary" mat-dialog-close>Close</button>
  </div>
</div>
