.example-card {
    max-width: 400px;
}

.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.padding {
    padding: 20px 10px;
}

h1 {
    line-height: 1em;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}
.company-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1em;
}
.company-duration{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1em;
}
.company-role{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1em;
}
.company-dec{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1em;
}

.company-tools{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1em;
    color: royalblue;
}

.primary {
    padding-left: 20px;
    background-color: rgb(245, 0, 12);
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    color: white;
    outline: none;
}

.primary:hover {
    background-color: rgb(0, 172, 240);
}

.accent {
    background-color: rgb(75, 1, 247);
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    color: white;
    outline: none;
}

.accent:hover {
    background-color: rgb(10, 33, 240);
}

.warn {
    background-color: rgb(255, 41, 4);
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    outline: none;
}

.warn:hover {
    background-color: darkviolet;
}

.basic {
    background-color: rgb(247, 6, 78);
    border-radius: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    color: white;
    outline: none;
}

.basic:hover {
    background-color: rgb(201, 11, 11);
}