<Particles id="tsparticles" [options]="particlesOptions" class="particles"></Particles>
<div class="overlay"></div>
<div class="overlay1"></div>
<div class="root-container">
    <div class="image">
        <img src="assets\icons\icon-128x128.png" />
    </div>
    <div class="name">
        <h2>Hello!</h2>
        <h3>I AM {{name}}</h3>
        <h4 id="typewriter"></h4>

        <div class="buttons">
            <button class="basic">About</button>
            <button class="primary">Internships</button>
            <button class="accent">Job Experiance</button>
            <button class="warn">Blog</button>
        </div>
    </div>

</div>